%h1
  %span> UpH
  %span{:style => 'font-weight: normal'}> Cal
%p
  Ein inoffizieller iCal-Kalender zum Essener Unperfekthaus.
  %br
  %a{:href => '/ical'}= "http://#{@env['HTTP_HOST']}/ical"    

%img{:src => 'howto1.png' }
%img{:src => 'howto2.png' }