%h1
  %span> UpH
  %span{ :style => 'font-weight: normal' }> Cal

%p
  Das Tagesprogramm des
  %a{ :href => 'http://www.unperfekthaus.de/', :title => 'Unperfekthaus' } UpH
  auf dem iPhone/iPod touch.

%img{ :src => '/screens/1.png' }
%img{ :src => '/screens/2.png' }