%h1
  %span> UpH
  %span{:style => 'font-weight: normal'}> Cal

%p
  Ein inoffizieller
  %a{:href => '/ical'} iCal-Kalender
  zum Unperfekthaus.

%p
  %strong Achtung:
  Das UpH bietet bereits einen
  %a{:href => 'http://www.unperfekthaus.de/feed/ics'} iCal-Kalender
  für den kompletten Monat an. 

%img{:src => 'howto1.png' }
%img{:src => 'howto2.png' }