%h1
  %span> UpH
  %span{ :style => 'font-weight: normal' }> Cal

%p
  Ein
  %a{ :href => '/ical', :title => 'inoffizieller iCal-Kalender' } inoffizieller iCal-Kalender
  zum Unperfekthaus.

%p
  %strong Achtung:
  Das UpH bietet bereits
  %a{ :href => 'http://www.unperfekthaus.de/feed/ics', :title => 'offizieller iCal-Kalender' } einen iCal-Kalender
  für den kompletten Monat an. 

%img{ :src => 'howto1.png' }
%img{ :src => 'howto2.png' }