!!!
%html{ :lang => 'de' }
  %head
    %title UpHCal – Termine des Unperfekthaus Essen in iCal
    %link{ :href => '/stylesheets/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
  %body
    .container
      = yield