!!!
%html{ :lang => 'de' }
  %head
    %title UpHCal
    %meta{ :name => 'viewport', :content => 'width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' }
    %meta{ :name => 'apple-touch-fullscreen', :content => 'yes' }
    %link{ :href => '/apple-touch-icon.png', :rel => 'apple-touch-icon' }
    %link{ :href => '/iui/iuix.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src =>'/iui/iuix.js', :type => 'application/x-javascript' }
  %body
    .toolbar
      %h1#pageTitle
      %a#backButton.button{ :href => '#' }<
    = yield
